{% extends 'base.html' %} 
{% load static %} 
{% block title %} Meus Planos de Economia {% endblock %} 

{% block link_extras %}
<link
  rel="stylesheet"
  href="{% static 'css/functionalities/listar-planos.css' %}"
/>
{% endblock %} 

{% block main %}
<div class="container mt-4">
  <h1 class="text-center mb-4">Meus Planos de Economia</h1>
  {% if planos %}
  <div class="d-flex justify-content-end mb-3">
    <a href="{% url 'criar-plano-economia' %}" class="btn btn-info btn-sm mx-2">
      <i class="fas fa-plus"></i> Criar novo plano de economia
    </a>
  </div>
  {% endif %} 
  
  {% include 'messages.html' %}

  <!-- Resumo em Cards -->
  <div id="cards-container" class="row">
    {% for plano in planos %}
    <div class="col-md-4 mb-3" data-id="{{ plano.id }}">
      <div class="card shadow-lg border-0">
        <div class="card-header text-white text-center">
          <div class="content-detalhes-dicas d-flex justify-content-sm-between align-items-center">
            <a href="{% url 'dicas-economia' plano.estabelecimento.id %}" title="Ajustar plano"><i class="fas fa-lightbulb"></i></a>
            <a href="{% url 'ver-plano-grafico' plano.id %}">Ver detalhes</a>
          </div>
          <h5 class="mb-0">
            <a href="{% url 'listar-equipamentos' plano.estabelecimento.id %}"
              >{{ plano.estabelecimento }}</a
            >
          </h5>
        </div>

        <div class="card-body bg-light">
          <div class="d-flex justify-content-end">
            <p class="text-black-50">Criado em {{plano.created}}</p>
          </div>
          <p>
            <strong>Meta de Gasto:</strong>
            <span class="text-success">R$ {{ plano.meta_gasto_mensal }}</span>
          </p>
          <p>
            <strong>Meta de Consumo:</strong>
            <span class="text-info"
              >{{ plano.meta_consumo_mensal|default:"N/A" }} kWh</span
            >
          </p>
          <p>
            <strong>Consumo Atual (kwh):</strong>
            <span class="text-warning">{{ plano.consumo_atual }} kWh</span>
          </p>
          <p>
            <strong>Gasto Atual:</strong>
            <span class="text-danger">R$ {{ plano.custo_atual }}</span>
          </p>
          <p>
            <strong>Diferença Consumo(kwh):</strong>
            {{ plano.diferenca_kwh|default:"N/A" }} kWh 
            {% if plano.diferenca_kwh < 0 %}
            <span class="badge bg-danger">Excedido</span>
            {% endif %}
          </p>
          <p>
            <strong>Diferença gasto:</strong>
            R$ {{ plano.diferenca_custo }} 
            
            {% if plano.diferenca_custo < 0 %}
            <span class="badge bg-danger">Excedido</span>
            {% endif %}
          </p>
          <div class="d-flex justify-content-end mt-3">
            {% if plano.id %}
            <a
              href="{% url 'editar-plano' plano.id %}"
              class="btn btn-outline-primary btn-sm mx-1"
            >
              <i class="fas fa-edit"></i> Editar
            </a>
            <a
              href="{% url 'excluir-plano' plano.id %}"
              class="btn btn-outline-danger btn-sm mx-1"
            >
              <i class="fas fa-trash-alt"></i> Excluir
            </a>
            {% else %}
            <p class="text-danger">Erro: Plano sem ID</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% empty %}
    <div class="col-12 text-center">
      <p>
        Nenhum plano encontrado.
        <a href="{% url 'criar-plano-economia' %}">Adicionar Plano</a>
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("cards-container");
    Sortable.create(container, {
      animation: 150, // Duração da animação em ms
      ghostClass: "sortable-ghost", // Classe para o item durante o arraste
      onEnd: (event) => {
        const ordem = [...event.to.children].map((card, index) => ({
          id: card.dataset.id, // Assuma que cada card tem um `data-id` correspondente ao `id` do plano
          posicao: index,
        }));
        fetch("/salvar-ordem/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({ ordem }),
        });
      },
    });
  });
</script>
{% endblock %} 

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
