{% extends 'base.html' %}

{% load static %}

{% block title %}
    Perfil
{% endblock %}

{% block link_extras %}
    <link rel="stylesheet" href="{% static 'css/user/perfil.css' %}" />
{% endblock %}

{% block main %}
<div class="perfil-container">
    <div class="content-dropdown-resource">
        <div class="dropdown-resource">
            <div class="dropdown-toggle" aria-label="Abrir menu do perfil">
              <i class="fas fa-bars"></i>
            </div>
            <div class="dropdown-menu-resource">
    
            </div>
        </div>
    </div>
    
    <h1>Meu Perfil</h1>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="perfil-info">
        <div class="info-item">
            <strong>Nome de usuário:</strong> <span>{{ perfil.username }}</span>
        </div>
        <div class="info-item">
            <strong>Email:</strong> <span>{{ perfil.email }}</span>
        </div>
        <div class="info-item">
            <strong>Nome Completo:</strong> <span>{{ perfil.profile.nome_completo }}</span>
        </div>
        <div class="info-item">
            <strong>Data de Nascimento:</strong> <span>{{ perfil.profile.data_nascimento }}</span>
        </div>
        <div class="info-item">
            <strong>Endereço:</strong> <span>{{ perfil.profile.endereco }}</span>
        </div>
    </div>
    
    <div class="perfil-actions">
        <a href="{% url 'editar_perfil' %}" class="btn btn-edit">Editar Perfil</a>
    </div>
</div>
{% endblock %}
