{% extends 'base.html' %}
{% load static %}

{% block link_extras%}
    <link rel="stylesheet" href="{% static 'css/features/form-calcular-consumo.css' %}">
{% endblock %}
    
{% block title %}
    Adiconar eletrônico
{% endblock %}
    
{% block main %}
<div class="content-form">
<h1 class="title">Adicionar eletrônico</h1>

<form method="POST" class="form-container">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_nome_personalizado">Nome do eletrônico</label>
        {{ form.nome_personalizado }}
    </div>

    <div class="form-group">
        <label for="id_tipo">Tipo de eletrônico</label>
        {{ form.tipo }}
    </div>

    <div class="form-group">
        <label for="id_potencia">Potência (W)</label>
        {{ form.potencia }}
    </div>

    <div class="form-group">
        <label for="id_horas_por_dia">Horas de Uso por Dia</label>
        {{ form.horas_por_dia }}
    </div>

    <div class="form-group">
        <label for="id_tarifa_por_kwh">Tarifa por kWh (R$)</label>
        {{ form.tarifa_por_kwh }}
    </div>

    <button type="submit" class="btn btn-submit">Calcular</button>
</form>
</div>
{% endblock %}
