html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.logomarca {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  max-width: 250px;
  flex-direction: column;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.header-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-sidebar a {
  text-decoration: none;
  padding: 15px 20px;
  color: var(--text-gray);
  transition: all 0.3s ease;
  width: 100%;
}

.header-sidebar a:hover {
  background-color: var(--green-accent);
  transform: translateX(1.5px);
}

.footer-sidebar {
  width: 100%;
}

.footer-sidebar .content-logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  width: 100%;
}

.footer-sidebar button {
  border: none;
  background: transparent;
  color: var(--text-gray);
  transition: all 0.3s ease;
}

.content-logout:hover {
  transform: translateX(1.5px);
}

.title_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  color: var(--text-gray);
  background-color:var(--green-background) ;
  border-radius: 10px;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);
}

.content-img-title img{
  width: 200px;
}

.main-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  margin-left: 250px;
  padding: 15px;
  height: 100%;
}

.alert-info{
  max-width: 600px;
}

.content-tarefas{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.card-tarefa{
  width: 100%;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);

}

.content-tarefa-pontos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
  margin-bottom: 10px;
}

.content-tarefa-pontos i {
  color: var(--green-accent);
}

.painel-direito {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 0;
}

.content-pontos-nivel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.content-nivel,
.content-pontos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.content-pontos i {
  color: var(--green-accent);
}

.content-nivel i {
  color: var(--red-accent);
  font-size: 1em;
}

.content-pontos span,
.content-nivel span {
  font-size: 18px;
  font-family: "Press Start 2P", serif;
}

.content-patente {
  padding: 8px;
  background-color: var(--green-accent);
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 250px;
}

.card-perfil {
  color: var(--text-gray);
  width: 100%;
}

.content-dica p{
  width: 350px;
}

.button{
  text-align: center;
  text-decoration: none;
  background-color: var(--purple-button);
  color: #fff;
  border-radius: 8px;
  padding: 8px 14px;
  transition: all .3s ease;
}

.button:hover{
  filter: brightness(90%);
}
