#graficoPlano {
  width: 100% !important; /* Ajusta a largura para o tamanho do container */
  height: 500px !important;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  #graficoPlano {
    height: 300px !important;  /* Altura fixa de 150px */
  }
}
