{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoWatt Dashboard</title>
    <title>{% block title %}{% endblock %}</title>
    {% block link_extras %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css-global.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="dashboard">
      {% block sidebar %}
      <!-- Menu Lateral -->
      <div class="sidebar">
        <div class="header-sidebar">
          <img
            class="logomarca"
            src="{% static 'img/main_pages/ECOWATT.png' %}"
            alt=""
          />
          <a href="{% url 'dashboard' %}"
            ><i class="fas fa-tasks"></i> Tarefas</a
          >
          <a href="{% url 'pagina-economia' %}"
            ><i class="fas fa-bolt"></i> Economia</a
          >
          <a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a>
          <a href="{% url 'configuracoes' %}"
            ><i class="fas fa-cog"></i> Configurações</a
          >
        </div>
        <div class="footer-sidebar">
          <div class="content-logout">{% include 'logout.html' %}</div>
        </div>
      </div>
      {% endblock %}
      <main class="main-content">
        {% block main %}
          <div class="title_section">
            <div class="content-titulo-subtitulo">
              <h2>Pronto(a) para começar?</h2>
              <p>Ganhe pontos ao completar tarefas! Tem tarefas nova todo dia.</p>
            </div>
            <div class="content-img-title">
              <img src="{% static 'img/main_pages/img-apresentacao-3.png' %}" alt="">
            </div>
          </div>
          
        <div class="content-tarefas">
          
          {% if tarefas %}
            {% for tarefa in tarefas %}
          <div class="card p-3 card-tarefa">
            <div class="content-tarefa-pontos">
              <i class="fas fa-trophy"></i>{{ tarefa.pontos }}
            </div>
            <h2>{{ tarefa.titulo }}</h2>
            <p>{{ tarefa.descricao }}</p>
            <a
              href="{% url 'detalhes-tarefa' tarefa.id %}"
              class="button"
              >Começar</a
            >
          </div>
          {% endfor %}
          
          {% else %}
            <!-- Mensagem caso não haja tarefas -->
            <div class="alert alert-info" role="alert">
              <h4>
                <i class="fas fa-info-circle"></i> Nenhuma tarefa disponível
              </h4>
              <p>
                Parece que você já completou todas as tarefas disponíveis ou não
                há tarefas relacionados aos seus equipamentos.
              </p>
              <a
                href="{% url 'selecionar-equipamentos' %}"
                class="btn btn-primary"
              >
                <i class="fas fa-plus"></i> Cadastrar Equipamentos
              </a>
            </div>
          {% endif %}
          
        </div>
        {% endblock %}
      </main>

      {% block painel_direito %}
      <div class="painel-direito">
        <div class="content-pontos-nivel">
          <div class="content-nivel">
            <i class="fas fa-star"></i><span title="Nivel">{{ request.user.perfil.nivel }}</span>
          </div>
          <div class="content-pontos">
            <i class="fas fa-trophy"></i><span title="Total pontos">{{ request.user.perfil.experiencia }}</span>
          </div>
        </div>
        <div class="card p-3 card-perfil mb-4 shadow"> <!-- Adicionado shadow -->
          <h5>Minha patente</h5>
          <p class="content-patente"> <i class="fas fa-medal"></i> {{ patente }}</p>
          <p>{{ descricao_patente }}</p>
      </div>
      
      <div class="card p-4 card-perfil content-dica shadow"> <!-- Adicionado shadow-lg -->
          <h5><i class="fas fa-lightbulb"></i> Dicas do dia</h5>
          <p>{{ dica_aleatoria }}</p>
      </div>

      </div>
      {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/main_pages/logout.js' %}"></script>

    {% block script %}{% endblock %}
  </body>
</html>
