{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Economia de Energia{% endblock %}

{% block link_extras %}
    <link rel="stylesheet" href="{% static 'css/user/pagina_economia.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css-global.css' %}" />
{% endblock %}

{% block titulo_dashboard %}
    <h1><i class="fas fa-leaf"></i> Economia de Energia</h1>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card economia-card">
                <div class="card-body">
                    <h2 class="card-title">Seu Desempenho de Economia</h2>

                    <div class="row ">
                        <!-- Consumo Atual -->
                        <div class="consumo-mes-col">
                            <div class="consumo-mes">
                                <h3><i class="fas fa-bolt"></i> Consumo mês de {{ mes_atual_nome }}</h3>
                                <p>
                                    {% if consumo_atual %}
                                        {{ consumo_atual.consumo_atual }} kWh
                                    {% else %}
                                        0 kWh
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <!-- Consumo Anterior -->
                        <div class="consumo-mes-col">
                            <div class="consumo-mes">
                                <h3><i class="fas fa-history"></i> Consumo mês de {{ mes_anterior_nome }}</h3>
                                <p>
                                    {% if consumo_anterior %}
                                        {{ consumo_anterior.consumo_atual }} kWh
                                    {% else %}
                                        0 kWh
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                    </div>

                    <!-- Economia em Relação ao Consumo Anterior -->
                    <div class="economia d-flex align-items-center justify-content-center flex-column">
                        <h3><i class="fas fa-bolt"></i> Dados do cunsumo </h3>
                        <p class="destaque">
                            {% if economia is not None %}
                                {% if economia > 0 %}
                                    Você economizou {{ economia_formatada }} kWh em relação ao mês anterior.
                                {% elif economia < 0 %}
                                    Você gastou {{ economia_formatada }} kWh a mais em relação ao mês anterior.
                                {% else %}
                                    Seu consumo foi igual ao mês anterior.
                                {% endif %}
                            {% else %}
                                Nenhum dado disponível para calcular a economia.
                            {% endif %}
                        </p>
                    </div>

                    <!-- Mensagem do Cupom -->
                    <div class="mensagem-cupom">
                        <p>{{ mensagem_cupom }}</p>
                    </div>

                    <!-- Histórico de Consumo -->
                    <div class="historico-consumo">
                        <h3>Histórico de Consumo</h3>
                        {% if historico_consumos %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mês/Ano</th>
                                        <th>Consumo (kWh)</th>
                                        <th>Queda de consumo (%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consumo in historico_consumos %}
                                        <tr>
                                            <td>{{ consumo.mes }}/{{ consumo.ano }}</td>
                                            <td>{{ consumo.consumo_atual }}</td>
                                            <td>
                                                {% if consumo.variacao is not None %}
                                                    {{ consumo.variacao|floatformat:1 }}%
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Nenhum histórico de consumo disponível.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}